# Verification

## Resolving BVN
## Resolving Account Number
## Resolving Card BIN
## Resolving Phone Number
