# VERIFICATION

## getResolve BVN
## getResolve Account Number
## getResolve Card BIN
## postResolve Phone Number
